.textAlign {
    display: inline-block;
    border-top: 5px solid black;
    width: 130px;
}

.delightsLabel {
    text-align: center;
    width: 50%;
    height: 42px;
    margin-left: 25%;
    line-height: 40px;
    /* position: absolute; */
    top: 0px;
    display: inline-block;
    // margin-left: calc(50% - 75px);
    // margin-right: calc(50% - 25px);
    // height: 100%;
}

ion-item {
    --ion-background-color: #E9C41B;
    --min-height: 60px;
}

.headerCard {
    ion-item {
        --ion-background-color: red;
    }
}

.delightsHeader {
    --background: #111D12;
    color: white
}

ion-content {
    --ion-background-color: #FFDA33;
}

.colImg {
    height: 60px;
    margin-top: 10px;
    margin-left: 50%;
}