<ion-header>
  <ion-toolbar>
    <ion-title class="header">Delights</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="loginForm" (ngSubmit)="login()" (keyup.enter)="login()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"> </ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="loginDisable">Login</ion-button>
  </form>

</ion-content>