<ion-header>
  <ion-toolbar>
    <ion-title class="header">Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="changePasswordForm" (ngSubmit)="changePwd()">
    <ion-item>
      <ion-label position="floating">Old Password</ion-label>
      <ion-input type="password" formControlName="oldPwd" [minlength]="6"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" formControlName="newPwd" [minlength]="6"> </ion-input>
      <span *ngIf="getError('newPwd')" style="color: red">{{getError('newPwd')}} </span>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm New Password</ion-label>
      <ion-input type="password" formControlName="cnfrmNewpwd" [minlength]="6"> </ion-input>
      <span *ngIf="getError('cnfrmNewpwd')" style="color: red">{{getError('cnfrmNewpwd')}} </span>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="submitDisable">Submit</ion-button>

  </form>

</ion-content>