<ion-header>
  <ion-toolbar class="delightsHeader">
    <ion-title>
      <ion-icon name="arrow-round-back" style="float:left" (click)="close()"></ion-icon>
      <ion-label style="margin-left: 5%"> Change Password </ion-label>
      <ion-icon name="log-out" style="float: right" (click)="logout()"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="height: 100%; background-color:#FFBF00">
    <ion-card-content>
      <form [formGroup]="changePwdForm" (ngSubmit)="changePwd()" (keyup.enter)="changePwd()">
        <ion-item>
          <ion-label position="floating">Old Password</ion-label>
          <ion-input type="text" formControlName="oldpassword"> </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">New Password</ion-label>
          <ion-input type="password" formControlName="newpassword"> </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" formControlName="confirmpassword"> </ion-input>
        </ion-item>
        <ion-button expand="block" type="submit" [disabled]="loginDisable">Submit</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>