.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.viewDelight {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 50px;
  right: 20px;
  line-height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 50px;
  margin-left: 50%;
}