::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: blue;
}

.delightsHeader {
    --background: #111D12;
    color: white
}

ion-content {
    --ion-background-color: #FFBF00;
}


ion-item {
    // --ion-background-color: black;
    --ion-background-color: #E9C41B;
    --min-height: 66px;
    color: white;
}