<ion-header>
  <ion-toolbar class="delightsHeader">
    <ion-title>
      <ion-icon name="arrow-round-back" style="float:left" (click)="close()"></ion-icon>
      <ion-label style="margin-left: 5%"> Manage Address </ion-label>
      <ion-icon name="log-out" style="float: right" (click)="logout()"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label> <a (click)="addAddress()">Add New Address </a></ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-card *ngFor="let address of addressList" style="height: 100%; background-color: #FFBF00">
      <ion-card-header>
        <ion-icon style="float: right;margin-left: 4%;font-size: 20px;" name="trash" (click)="deleteAddress(address)">
        </ion-icon>
        <ion-icon style="float: right;font-size: 20px;" name="create" (click)="address.canEdit = true"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Unit StreetNo</ion-label>
          <ion-input type="text" [(ngModel)]="address.UnitStreetNo" [disabled]="!address.canEdit"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Street Name</ion-label>
          <ion-input type="text" [(ngModel)]="address.StreetName" [disabled]="!address.canEdit"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">City</ion-label>
          <ion-input type="text" [(ngModel)]="address.City" [disabled]="!address.canEdit"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">State</ion-label>
          <ion-input type="text" [(ngModel)]="address.State" [disabled]="!address.canEdit"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Mobile</ion-label>
          <ion-input type="text" [(ngModel)]="address.Mobile" [disabled]="!address.canEdit"></ion-input>
        </ion-item>
        <ion-item *ngIf="address.canEdit">
          <ion-label position="floating">Address Type</ion-label>
          <ion-select placeholder="Select One" [disabled]="!address.canEdit" [(ngModel)]="address.AddressType">
            <ion-select-option *ngFor="let val of locationCategories" [value]="val.AddressType">
              {{val.AddressType}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="!address.canEdit">
          <ion-label position="floating">Address Type</ion-label>
          <ion-input type="text" [(ngModel)]="address.AddressType" [disabled]="!address.canEdit"></ion-input>
        </ion-item>
        <!-- <ion-item *ngIf="address.canEdit"> -->
        <ion-button *ngIf="address.canEdit" expand="full" (click)="saveAddress(address)">Save</ion-button>
        <!-- </ion-item> -->
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>